@use '../utilities/extends';
@use '../general/variables';
@use 'sass:map';
@use '../utilities/maps';

.mainConsejos{
    background-image: url(../../assets/img/fondoConsejos.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    @extend %flex-center;
    flex: 1;

    .tarjetaConsejos{
        background-color: rgba(255, 255, 255, 0.705);
        width: 60%;
        border-radius: 10px;
        padding: 20px;
        margin: 20px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        p{
            color: map.get(maps.$colorTexto, oscuro); 
            text-align: justify;
            font-size: large;
            margin: 20px 40px;
        }

        h3{
            color: map.get(maps.$colorTexto, oscuro);
            text-align: center;
            margin: 20px 0;
        }
    }

    h2{
        color: map.get(maps.$colorTexto, oscuro);
        margin: 20px 0;
        text-align: center;
    }
}
