@use '../utilities/extends';
@use '../general/variables';
@use 'sass:map';
@use '../utilities/maps';

.mainInsumos{
    @extend %color-fondo;
    @extend %flex-center;
    flex: 1;
    height: 100%;

    h2{
        color: map.get(maps.$colorTexto, oscuro);
        margin: 20px 0;
        text-align: center;
    }

    .contenedorInsumos{
        height: 100%;

        .row{
            .insumo{
                background-color: rgba(255, 255, 255, 0.705);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                padding: 20px;
                border-radius: 10px;
                height: 50vh;
                margin: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                transition: transform 0.3s ease-in-out;

                &:hover{
                    transform: scale(1.05);
                }

                .imgInsumos{
                    height: 50%;
                    width: auto;
                    justify-content: center;

                    img{
                        height: 100%;
                        width: auto;
                    }
                }

                .botonCarrito{
                    border: none;
                    border-radius: 10px;

                    img{
                        height: 50px;
                        width: auto;
                    }
                }



                .row{
                    .nombreInsumo{
                        color: map.get(maps.$colorTexto, oscuro);
                        margin: 10px 0;    
                    }

                    p{
                        color: map.get(maps.$colorTexto, intermedio);
                        text-align: center;
                        font-size: large;
                        margin: 10px 0;
                    }

                    
                }
            }
        }
    }
}

