@use '../utilities/extends';
@use '../general/variables';

.mainServicios{
    @extend %flex-center;
    display: flex;
    flex-direction: column;
    @extend %color-fondo;
    flex: 1;
    align-items: center;
    height: 100%;

    h2{
        color: variables.$color-font-h2;
        margin-top: 20px;   
    }

    .contenedorServicios{
        display: flex;
        flex-direction: column;
        width: 90vw;
        background-color: rgba(255, 255, 255, 0.705);
        border-radius: 10px;
        padding: 20px;
        margin: 20px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        justify-content: center;

        h3{
            color: variables.$color-font-h2;
            margin: 20px 0;
            text-align: center;
        }

        p{
            color: variables.$color-secundario;
            text-align: justify;
            font-size: large;
            margin: 20px 40px;
        }

        .imgServicios{
            display: flex;
            width: 100%;
            justify-content:space-evenly;
            height: 200px;
            margin: 30px 0 30px 0;

            img{
                height: 100%;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
        }
    }
}
