
@media (max-width: 768px) {
    .mainIndex{
        .tituloPrincipal{
            .tarjetaTitulo{
                padding: 40px 60px;
                top: 150px;
                margin-right: 2%;
                margin-left: 2%;
                height: auto;
            }
        }

        .contenedorPersona{
            grid-template-columns: 1fr;
            height: auto;

            p{
                font-size: small;
                margin: 0;
            }

            .imgPersona{
                width: 150px;
                height: 150px;
                margin-bottom: 20px;
            }
        }
    }
    
    
    .mainGaleria{
        height: fit-content ;
        grid-template-areas:
        "titulo"
        "bloque1"
        "bloque2"
        "bloque3"
        ;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    
    .mainServicios{
        height: fit-content;

        .contenedorServicios{
            width: 95vw;

            .imgServicios{
                flex-direction: column;
                height: auto;
                align-items: center;
                text-align: center;

                img{
                    width: 80%;
                    height: auto;
                    margin-bottom: 10px;
                }
            }
        }
    
    }

    .mainInsumos{
        height: fit-content;

        .container{
            .row{
                flex-direction: column;
                align-items: center;

                .insumo{
                    width: 80%;
                    height: 50vh;

                    .imgInsumos{
                        height: 50%;
                        width: auto;    
                    }
                }
            }
        }
    }

    .mainConsejos{
        height: fit-content;

        .tarjetaConsejos{
            width: 90%;
            text-align: center;
        }
    }

    .headerSecundario{
        .navbar{
            .container-fluid{
                .navbar-collapse{
                    .navbar-nav{
                        .nav-item{
                            .nav-link{
                                font-size: large;
                                margin: 0 5px 0 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    .headerIndex{
        .navbar{
            .container-fluid{
                .navbar-collapse{
                    .navbar-nav{
                        .nav-item{
                            .nav-link{
                                font-size: large;
                                margin: 0 5px 0 5px;
                            }
                        }
                    }
                }
            }
        }
    }


}