*{
    margin: 0;
    padding: 0;
}

.body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*HEADER*/
.headerIndex{
    position: absolute;
    width: 100%;
}

.headerSecundario{
    background-color: rgb(255, 230, 119);   
}

.logo{
    width: 40%;
    border-radius: 5%;
}

.container-fluid{
    flex-direction: column;
}

.navbar-brand{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/*/HEADER*/


/*MAIN*/
.mainIndex{
    background-color: rgba(137, 43, 226, 0.259);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloPrincipal{
    display: flex;
    flex-direction: column;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgba(157, 0, 255, 0.751);
    font-style: italic;
    width: 100%;
    height: 100vh;
    background-image:url(../img/fondo.jpg);
    justify-content: center;
    align-items: center;
}



.contenedorPersona{
    display: grid;
    grid-template-columns: 2fr 4fr;
    background-color: rgba(215, 174, 253, 0.812);
    height: 40vh;
    padding: 20px;
    margin: 20px 20px;
}

.contenedorPersona p{
    color: blueviolet;
    text-align: justify;
    align-self: center;
    padding: 15px 15px;
    font-size: x-large;
}

.imgPersona{
    width: 250px;
    height: 250px;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    object-fit: cover;
        
}

h3{
    color: blueviolet;
}
/*/MAIN*/


/*GALERIA*/
.mainGaleria{
    display: grid;
    grid-template-areas:
    "titulo titulo titulo"
    "bloque1 bloque2 bloque3"
    ;
    grid-template-columns: 4fr 4fr 4fr;
    background-image: url(../img/fondoGaleria.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
    justify-self: center;
    column-gap: 40px;
    padding: 30px;  
}

.tituloGaleria{
    grid-area: titulo;
    justify-self: center;
}

.bloque1{
    grid-area: bloque1;
}

.bloque2{
    grid-area: bloque2;
}

.bloque3{
    grid-area: bloque3;
}

.contenedorGaleria{
    display: grid;
    grid-template-areas:
    "tituloCaja tituloCaja"
    "foto1 foto2"
    "foto3 foto4"
    ;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.705);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenedorGaleria h3{
    font-size: 100%;
}

.tituloCaja{
    grid-area: tituloCaja;
}

.foto1{
    grid-area: foto1;
}

.foto2{
    grid-area: foto2;
}

.foto3{
    grid-area: foto3;
}

.foto4{
    grid-area: foto4;
}

.contenedorGaleria img{
    width: 80px;
    
}
/*/GALERIA*/


/*INSUMOS*/
.mainInsumos{
    background-color: brown;
    background-image: url(../img/fondoInsumos.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    height: 100%;

}

.contenedorInsumos{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 1fr;
    justify-items: center;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.705);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.insumo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.nombreInsumo{
    text-decoration: underline;
    color: blanchedalmond;
    font-weight: bolder;
}

.imgInsumos{
    height: 20%;
    width: auto;
}

.botonCompra{
    width: 30%;
}
/*/INSUMOS*/


/*SERVICIOS*/
.mainServicios{
    display: flex;
    flex-direction: column;
    background-image: url(../img/fondoServicios.jpg);
    background-size: cover;
    flex: 1;
    align-items: center;
    height: 100%;
}

.contenedorServicios{
    display: flex;
    flex-direction: column;
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.contenedorServicios h3{
    color: blueviolet;
    margin: 20px 0;
    text-align: center;
}

.imgServicios{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 200px;
}

.imgServicios img{
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

/*/SERVICIOS*/

/* CONSEJOS */
.mainConsejos{
    background-image: url(../img/fondoConsejos.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    height: 100%;
}

.tarjetaConsejos{
    background-color: rgba(255, 255, 255, 0.705);
    width: 60%;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mainConsejos h2{
    color: blueviolet;
    margin: 20px 0;
    text-align: center;
}

/*/CONSEJOS  */



/*FOOTER*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(255, 230, 119);
}

.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.enlacesFooter{
    height: 50px;
    text-decoration: none;
    margin: 0px 15px 0px 15px;

}
/*/FOOTER*/