* {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
}

.headerIndex {
  position: absolute;
  width: 100%;
}
.headerIndex .navbar .container-fluid {
  flex-direction: column;
}
.headerIndex .navbar .container-fluid .navbar-brand {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.headerIndex .navbar .container-fluid .logo {
  width: 40%;
  border-radius: 5%;
}
.headerIndex .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
  z-index: 1;
}
.headerIndex .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  transition: transform 0.3s ease-in-out;
  justify-self: center;
  text-shadow: -2px 0px 27px rgba(209, 41, 41, 0.83);
  font-size: x-large;
  color: white;
  margin: 0 10px 0 10px;
}
.headerIndex .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  transform: scale(1.2);
}

.headerSecundario {
  background-color: rgb(255, 224, 236);
}
.headerSecundario .navbar .container-fluid {
  flex-direction: column;
}
.headerSecundario .navbar .container-fluid .navbar-brand {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.headerSecundario .navbar .container-fluid .logo {
  width: 40%;
  border-radius: 5%;
}
.headerSecundario .navbar .container-fluid .navbar-collapse {
  background-color: rgb(255, 224, 236);
  border-radius: 4px;
}
.headerSecundario .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
  z-index: 1;
}
.headerSecundario .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  transition: transform 0.3s ease-in-out;
  justify-self: center;
  text-shadow: -2px 0px 27px rgba(209, 41, 41, 0.83);
  font-size: x-large;
  color: white;
  margin: 0 10px 0 10px;
}
.headerSecundario .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  transform: scale(1.2);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: rgb(255, 224, 236);
}
.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer ul li .enlacesFooter {
  height: 50px;
  text-decoration: none;
  margin: 0px 15px 0px 15px;
}

.mainInsumos, .mainServicios, .mainConsejos, .mainGaleria .contenedorGaleria .foto1, .mainGaleria .contenedorGaleria .foto2, .mainGaleria .contenedorGaleria .foto3, .mainGaleria .contenedorGaleria .foto4, .mainGaleria .contenedorGaleria .foto5, .mainGaleria .contenedorGaleria .foto6, .mainGaleria .contenedorGaleria .foto7, .mainGaleria .contenedorGaleria .foto8, .mainIndex, .mainIndex .tituloPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainInsumos, .mainServicios, .mainGaleria, .mainIndex {
  background: #fff1f1;
  background: radial-gradient(circle farthest-side at center center, #fff1f1 0%, rgba(255, 0, 68, 0.26) 90%);
  background: -moz-radial-gradient(circle farthest-side at center center, #fff1f1 0%, rgba(255, 0, 68, 0.26) 90%);
}

.mainIndex .tituloPrincipal {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(165, 100, 133);
  font-style: italic;
  width: 100%;
  height: 100vh;
  background-image: url(../img/fondoIndex.webp);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
.mainIndex .tituloPrincipal .tarjetaTitulo {
  height: 400px;
  background-color: rgba(255, 255, 255, 0.404);
  padding: 60px 80px;
  border-radius: 19% 81% 70% 30%/30% 69% 31% 70%;
  align-content: center;
  align-self: flex-end;
  margin-right: 7%;
  position: relative;
  top: 200px;
}
.mainIndex h2 {
  color: rgb(165, 100, 133);
  margin: 40px 0;
  text-align: center;
}
.mainIndex .contenedorPersona {
  display: grid;
  justify-self: center;
  width: 80%;
  grid-template-columns: 2fr 4fr;
  background-color: rgba(255, 255, 255, 0.705);
  height: 40vh;
  padding: 20px;
  margin: 20px 20px;
  border-radius: 10px;
}
.mainIndex .contenedorPersona p {
  color: rgb(206, 156, 175);
  text-align: justify;
  align-self: center;
  padding: 15px 15px;
  font-size: x-large;
  margin-right: 50px;
}
.mainIndex .contenedorPersona .imgPersona {
  width: 250px;
  height: 250px;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainGaleria {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "bloque1 bloque2 bloque3";
  grid-template-columns: 4fr 4fr 4fr;
  width: 100%;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 30px;
}
.mainGaleria .tituloGaleria {
  grid-area: titulo;
  justify-self: center;
  color: rgb(165, 100, 133);
}
.mainGaleria .contenedorGaleria {
  display: grid;
  grid-template-areas: "tituloCaja tituloCaja" "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7 foto8";
  align-items: center;
  justify-items: center;
  border-radius: 20px;
  padding: 30px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.705);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.mainGaleria .contenedorGaleria .tituloCaja {
  grid-area: tituloCaja;
}
.mainGaleria .contenedorGaleria .tituloCaja h3 {
  color: rgb(206, 156, 175);
}
.mainGaleria .contenedorGaleria .foto1 {
  grid-area: foto1;
  padding: 20px;
}
.mainGaleria .contenedorGaleria .foto2 {
  grid-area: foto2;
  padding: 20px;
}
.mainGaleria .contenedorGaleria .foto3 {
  grid-area: foto3;
  padding: 20px;
}
.mainGaleria .contenedorGaleria .foto4 {
  grid-area: foto4;
  padding: 20px;
}
.mainGaleria .contenedorGaleria .foto5 {
  grid-area: foto5;
  padding: 20px;
}
.mainGaleria .contenedorGaleria .foto6 {
  grid-area: foto6;
  padding: 20px;
}
.mainGaleria .contenedorGaleria .foto7 {
  grid-area: foto7;
  padding: 20px;
}
.mainGaleria .contenedorGaleria .foto8 {
  grid-area: foto8;
  padding: 20px;
}
.mainGaleria .contenedorGaleria img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.mainGaleria .contenedorGaleria img:hover {
  transform: scale(1.05);
}
.mainGaleria .bloque1 {
  grid-area: bloque1;
}
.mainGaleria .bloque2 {
  grid-area: bloque2;
}
.mainGaleria .bloque3 {
  grid-area: bloque3;
}

.mainConsejos {
  background-image: url(../../assets/img/fondoConsejos.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
}
.mainConsejos .tarjetaConsejos {
  background-color: rgba(255, 255, 255, 0.705);
  width: 60%;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.mainConsejos .tarjetaConsejos p {
  color: rgb(165, 100, 133);
  text-align: justify;
  font-size: large;
  margin: 20px 40px;
}
.mainConsejos .tarjetaConsejos h3 {
  color: rgb(165, 100, 133);
  text-align: center;
  margin: 20px 0;
}
.mainConsejos h2 {
  color: rgb(165, 100, 133);
  margin: 20px 0;
  text-align: center;
}

.mainServicios {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  height: 100%;
}
.mainServicios h2 {
  color: rgb(165, 100, 133);
  margin-top: 20px;
}
.mainServicios .contenedorServicios {
  display: flex;
  flex-direction: column;
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
}
.mainServicios .contenedorServicios h3 {
  color: rgb(165, 100, 133);
  margin: 20px 0;
  text-align: center;
}
.mainServicios .contenedorServicios p {
  color: rgb(206, 156, 175);
  text-align: justify;
  font-size: large;
  margin: 20px 40px;
}
.mainServicios .contenedorServicios .imgServicios {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 200px;
  margin: 30px 0 30px 0;
}
.mainServicios .contenedorServicios .imgServicios img {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mainInsumos {
  flex: 1;
  height: 100%;
}
.mainInsumos h2 {
  color: rgb(165, 100, 133);
  margin: 20px 0;
  text-align: center;
}
.mainInsumos .contenedorInsumos {
  height: 100%;
}
.mainInsumos .contenedorInsumos .row .insumo {
  background-color: rgba(255, 255, 255, 0.705);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  height: 50vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.mainInsumos .contenedorInsumos .row .insumo:hover {
  transform: scale(1.05);
}
.mainInsumos .contenedorInsumos .row .insumo .imgInsumos {
  height: 50%;
  width: auto;
  justify-content: center;
}
.mainInsumos .contenedorInsumos .row .insumo .imgInsumos img {
  height: 100%;
  width: auto;
}
.mainInsumos .contenedorInsumos .row .insumo .botonCarrito {
  border: none;
  border-radius: 10px;
}
.mainInsumos .contenedorInsumos .row .insumo .botonCarrito img {
  height: 50px;
  width: auto;
}
.mainInsumos .contenedorInsumos .row .insumo .row .nombreInsumo {
  color: rgb(165, 100, 133);
  margin: 10px 0;
}
.mainInsumos .contenedorInsumos .row .insumo .row p {
  color: rgb(206, 156, 175);
  text-align: center;
  font-size: large;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .mainIndex .tituloPrincipal .tarjetaTitulo {
    padding: 40px 60px;
    top: 150px;
    margin-right: 2%;
    margin-left: 2%;
    height: auto;
  }
  .mainIndex .contenedorPersona {
    grid-template-columns: 1fr;
    height: auto;
  }
  .mainIndex .contenedorPersona p {
    font-size: small;
    margin: 0;
  }
  .mainIndex .contenedorPersona .imgPersona {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
  .mainGaleria {
    height: -moz-fit-content;
    height: fit-content;
    grid-template-areas: "titulo" "bloque1" "bloque2" "bloque3";
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .mainServicios {
    height: -moz-fit-content;
    height: fit-content;
  }
  .mainServicios .contenedorServicios {
    width: 95vw;
  }
  .mainServicios .contenedorServicios .imgServicios {
    flex-direction: column;
    height: auto;
    align-items: center;
    text-align: center;
  }
  .mainServicios .contenedorServicios .imgServicios img {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
  }
  .mainInsumos {
    height: -moz-fit-content;
    height: fit-content;
  }
  .mainInsumos .container .row {
    flex-direction: column;
    align-items: center;
  }
  .mainInsumos .container .row .insumo {
    width: 80%;
    height: 50vh;
  }
  .mainInsumos .container .row .insumo .imgInsumos {
    height: 50%;
    width: auto;
  }
  .mainConsejos {
    height: -moz-fit-content;
    height: fit-content;
  }
  .mainConsejos .tarjetaConsejos {
    width: 90%;
    text-align: center;
  }
  .headerSecundario .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: large;
    margin: 0 5px 0 5px;
  }
  .headerIndex .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: large;
    margin: 0 5px 0 5px;
  }
}/*# sourceMappingURL=style.css.map */